<div class="contact">

    <h3>Contact Me</h3>
</div>

<div class="contact-box">
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mgerlqlb"
        method="post">
        <fieldset id="fs-frm-inputs">
            <input type="text" name="name" class="input-field" id="full-name" placeholder="Name" required>
            <input type="text" name="name" class="input-field" id="subject" placeholder="Subject" required>
            <input type="email" name="_replyto" class="input-field" id="email-address" placeholder="Email" required>
            <textarea name="message" class="input-field textarea-field" id="message" placeholder="Message"
                required></textarea>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
        </fieldset>
        <input type="submit" class="btn-submit" value="Submit">
    </form>
</div>