<h2 id="workExperience">Work Experience</h2>
<div class="card-container">
  {% for item in site.data.experience %}
  <div class="card">
    <h3 class="card__name">{{ item.name }}</h3>
    <div class="card__content">
      <div class="card__img">
        <img src="/assets/img/experience/{{ item.img }}" alt="" />
      </div>
      <div class="card__hidden">
        <p class="card__description">{{ item.content }}</p>
        <div class="card__btn">
          {% if item.code %}
          <a href="{{ item.code }}">CODE</a>
          {% endif %} {% if item.view %}
          <a href="{{ item.view }}">VIEW</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
